.error-symbol {
    font-size: 2em;
    margin-bottom: 0.4em;
}

.error-code {
    font-weight: 400;
}

.error-message {
    margin-left: 8px;
    font-weight: 300;
}

.error-description {
    font-weight: 300;
}
