* {margin:0;padding:0;box-sizing:border-box;}

.flex {display:flex;}
.ac {align-items: center;}
.jc {justify-content: center;}

.w100 {width:100%;}

.pop {font-family: 'Poppins';}
.rub {font-family: 'Rubik';}

ul {list-style-type: none;}
a:link {text-decoration:none !important;}

body {
    background: rgb(236,255,254);
    background: linear-gradient(177deg, rgb(248 253 255) 0%, rgb(255 255 255 / 81%) 36%, rgb(243 250 253 / 55%) 91%, rgba(241,247,255,0) 100%);
}

#Loader.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#Loader .icon {
  height: 35px;
}

#main {
  display:none;
  width: 100%;
}

.page-main {
  height:100vh;
}

section.hero-banner-outer {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.hero-banner-inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 680px;
}

fieldset.search-bar-wrapper {
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display:flex;
    border-style: solid;
    border-color: #dddddd;
}

input#keyword {
  width: 100%;
  border: none;
  font-family: 'Poppins';
  font-size: 14px;
  background-color: transparent;
}

input#keyword:focus {outline:none;}

.search-description {
    font-family: 'Rubik';
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 200;
    color: #36354e;
}

.card {
  background-color: white;
box-shadow: 0.1px 0.1px 2px 0.5px #e5e5e5;
}

.results-pane {
    padding: 0px 20px;
    margin-top: -20px;
    max-width: 680px;
    width: 100%;
}

.results-pane-outer {
  display: flex;
  justify-content: center;
}

.result-item {
    padding: 15px 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #f1f1f1;
    font-family: 'Poppins';
    font-size: 12.5px;
    cursor: pointer;
}

.result-item:hover {
  background-color: #f9f9f9;
}

.site-home-title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Poppins';
  color: #36354e;
  letter-spacing: -0.04em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  margin-top: 0.8em;
}

section.small-about {
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 60px;
}

.small-about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid;
    border-width: 1px;
    padding-top: 50px;
    border-color: #e7e7e7;
}

.small-about-image {
  height: 180px;
}

.small-about-text {
  width: 100%;
  margin-top: 30px;
}

.small-about-title {
    font-family: 'Poppins';
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.small-about-description {
    font-family: 'Rubik';
    font-size: 0.9em;
    line-height: 1.6em;
    font-weight: 200;
    color: #424141;
}

.small-about-wrapper-outer {
    display: flex;
    justify-content: center;
}

.small-about-wrapper-inner {
    max-width: 1024px;
    width: 100%;
}

.result-item a:link{
  color: #282828 !important;
}

.result-item a:hover{
  color: #673ab7 !important;
}

.result-item a:visited{
  color: #282828 !important;
}

.site-title {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    width: max-content;
    background-color: #673ab7;
    padding: 3px;
    border-radius: 5px;
}

.nav-bar-pane-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar-pane-inner {
  display: flex;
width: 100%;
padding: 0px 20px;
align-items: center;
max-width: 680px;
}

.site-nav-item a:link{
  color: #7a7a7a !important;
}
.site-nav-item a:visited{
  color: #7a7a7a !important;
}
.site-nav-item a:hover{
  color: #673ab7 !important;
}
.site-nav-item-list {
  display: flex;
}

li.site-nav-item {
    font-size: 0.85em;
    font-family: 'Poppins';
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-right: 20px;
}
.page-wrapper-outer {
  display: flex;
  justify-content: center;
}

.page-wrapper-inner {
  justify-content: center;
  max-width: 680px;
  width: 100%;
}

.error-page-wrapper {
    height: 100vh;
}

.error-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Poppins';
  color: #36354e;
  letter-spacing: -0.04em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  margin-top: 0.8em;
}

.error-description {
    font-family: 'Rubik';
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 200;
    color: #36354e;
}

.page-body {
    margin-top: -20px;
}

.page-cover-wrapper {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(231 231 231);
    background: linear-gradient(177deg, rgb(173 173 173) 0%, rgb(221 221 221 / 81%) 36%, rgb(225 225 225 / 0%) 91%, rgb(255 255 255) 100%);
    padding-top: 60px;
}


.no-cover-text {
    font-family: 'Rubik';
    font-size: 14px;
    color: #727272;
    margin-left: 10px;
}

.card-name {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Poppins';
  color: #36354e;
  letter-spacing: -0.01em;
  line-height: 1.3em;
}

.card-padding {
    padding: 0px 20px;
}

.card-subtitle {
  font-family: 'Rubik';
    font-size: 0.8em;
    margin-bottom: 3px;
    font-weight: 200;
    color: #36354e;
}

.card-inner {
    padding: 20px 0px;
}

.card-namespace {
    font-size: 11.5px;
    font-family: monospace;
    background-color: #673ab7;
    width: max-content;
    color: white;
    border-radius: 10px;
    padding: 4px 12px;
}

.card-namespace-wrapper {
  margin-bottom: 12px;
}

.card-item {
    font-family: 'Poppins';
    font-size: 0.9em;
    letter-spacing: -0.01em;
    color: #3c3c3c;
}

.card-spacer {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e1e1e1;
}

.sublocation-entry-header {
    display: flex;
    align-items: center;
}

.sublocation-entry-title {
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: bold;
    color: #36354e;
    letter-spacing: -0.02em;
    margin-right: 8px;
}

.sublocation-entry {
    margin-top: 15px;
}

.sublocation-entry-header {
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    padding: 15px 25px;
    cursor: pointer;
}

.sublocation-item-wrapper {
    padding: 10px 25px;
}

.subloc-listing {
    padding-top: 15px;
}

a.subloc-link {
  font-family: 'Poppins';
  font-size: 0.9em;
  letter-spacing: -0.01em;
}

a.subloc-link:link{
  color: #3c3c3c !important;
}

a.subloc-link:hover{
  color: #3c3c3c !important;
}

a.subloc-link:visited{
  color: #3c3c3c !important;
}


@media screen and (max-width: 4000px) and (min-width: 601px) {
  .small-about-item {flex-direction:row;}
  .small-about-image {
    width: 35%;
    height: 100%;
  }
  .small-about-text {
    margin-left: 40px;
  }
  section.small-about {
    margin-top: 50px;
  }
  .small-about-wrapper-inner {
    padding: 0px 60px;
  }
  section.hero-banner-outer {
    padding-top: 200px;
  }
  .page-cover-wrapper{
    height: 420px;
  }

  .card-padding {
    padding: 0px 35px;
  }
}
